# Libraries

In [11]:
import pandas as pd
from sklearn.ensemble import IsolationForest

import numpy as np 
import seaborn as sns

In [7]:
path = r'Student_Marks.csv'

# data

In [9]:
student_marks_df = pd.read_csv(path)
student_marks_df = student_marks_df.reset_index()
student_marks_df.rename(columns={'index':'student_id'}, inplace=True)

student_marks_df

     student_id  number_courses  time_study     Marks
0             0               3       4.508    19.202
1             1               4       0.096     7.734
2             2               4       3.133    13.811
3             3               6       7.909    53.018
4             4               8       7.811    55.299
..          ...             ...         ...       ...
97           97               3       0.301     5.609
98           98               4       7.163    41.444
99           99               7       0.309    12.027
100         100               3       6.335    32.357
101         101               4       3.000  2000.000

[102 rows x 4 columns]

In [10]:
final_df = student_marks_df[['student_id','Marks']]
final_df

     student_id     Marks
0             0    19.202
1             1     7.734
2             2    13.811
3             3    53.018
4             4    55.299
..          ...       ...
97           97     5.609
98           98    41.444
99           99    12.027
100         100    32.357
101         101  2000.000

[102 rows x 2 columns]

# Model

In [18]:
random_sate = np.random.RandomState(143)

model = IsolationForest(n_estimators=100, 
                        max_samples='auto',
                        contamination=np.float(0.01),
                        random_state=random_sate)
model.fit(final_df[['Marks']])
print(model.get_params())

{'bootstrap': False, 'contamination': 0.01, 'max_features': 1.0, 'max_samples': 'auto', 'n_estimators': 100, 'n_jobs': None, 'random_state': RandomState(MT19937) at 0x2038ACDC468, 'verbose': 0, 'warm_start': False}

C:\Users\INDHRNA\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """
C:\Users\INDHRNA\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  "X does not have valid feature names, but"

In [19]:
final_df['scores'] = model.decision_function(final_df[['Marks']])
final_df['anomaly_scores'] = model.predict(final_df[['Marks']])
final_df[final_df['anomaly_scores']==-1]

     student_id   Marks    scores  anomaly_scores
42           42   500.0 -0.002195              -1
101         101  2000.0 -0.056685              -1

# Model Performance
One of the main factor the model depends on is, on the contamination factor-one should  have a prior \
knowledge of %of outliers that can be present in the given dataset \
https://www.analyticsvidhya.com/blog/2021/07/anomaly-detection-using-isolation-forest-a-complete-guide/